body{
	background: url('images/cloud.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
body{}

.f1 th{
	width: 20%;
}
.f1{
	padding: 10px;
	margin-left: auto;
	background-color: yellow;
}
a{
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
a:active{
	color: green;
}
h1{
	position: relative;
	bottom: 80px;
	text-align: center;
	letter-spacing: 0.1em;
	font-family: comic sans ms;
	font-size: 500%;
	color: #0711D9;
}
.container{
	margin: auto;
}
.button{
	width: 40%;
	padding: 5px;
	letter-spacing: 0.1em;
	border: 2px black solid;
	border-radius: 14px;
}
.f2{
	position: relative;
	bottom: 60px;
	left: 10px;
}
.f3{
	padding-left: 20px;
}

